# Dependencies
node_modules/

# Environment
.env*
!.env.example

# Build
client/.next/
client/out/
dist/
**/dist/

# Infrastructure
*.tfstate
*.tfstate.*
*.terraform/
terraform.tfvars
*.tfvars

# Ansible
infrastructure/ansible/vars.yml
infrastructure/ansible/*.retry
infrastructure/ansible/inventory/*.yml
!infrastructure/ansible/inventory/hosts.example.yml

# IDE
.vscode/
.idea/
